<!DOCTYPE html>
<html>
<head>
    <title>Operation Result</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="stylesheets/form.css" rel="stylesheet">
</head>
<body>
	
    <div id="container">
            <h1>Your Costs</h1>
        <div id="home">
            <img src="stamp.png">

            <table>
                <tr><td>Type:</td>
                <td><%= option %></td></tr>
                <tr><td>Weight: </td><td><%= weight %></td></tr>
                <tr><td>Total: </td><td>$<%= total %></td></tr>

            </table>
    <!-- <p>The cost for "<%= option %>" and weight of <%= weight %> oz. is: $<%= total %></p> -->
</div>
</div>

</body>
</html>